/* Frontend Mentor part*/
.attribution { font-size: 0.6875rem;
    position: absolute;
    bottom: 0rem;
    padding-bottom: 0.625rem;
    text-align: center;
    color: hsl(228, 45%, 15%);
}

.attribution a { color: hsl(228, 45%, 44%); }
/*-------------------------------------------------*/

* {box-sizing: border-box;}

body {
    padding: 0rem;
    margin: 0rem;
}

.content { 
    position: absolute;
    inset: 0rem; 
    background-color: hsl(240, 73%, 65%);
    background-image: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    height: auto;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 22.6875rem;
    height: 20.625rem;
    padding: 1.25rem;  
    margin: 0rem;  
}

#cont {
    position: relative;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    overflow: hidden;
    background-color: white;
    margin: 0rem;
    padding: 0rem;
    min-width: 43.75rem;
    height: 21.875rem;
    display: flex;
    box-shadow: 0rem 1.25rem 2.5rem 0rem hsl(251, 35%, 43%); 
}

.pattern {
    position: absolute;
    left: -20.9375rem;
    top: -11.875rem;
    max-width: 39.375rem;
    height: auto;
}

.womand {
    position: absolute;
    left: -3.75rem;
    top: 1.5625rem;
    max-width: 21.875rem;
    height: auto;
}

.box {
    position: absolute;
    top: 9.125rem;
    left: -16.25rem;
    max-width: 8.75rem;
    height: auto;
    z-index: 1;
}

h1 {
    color: hsl(238, 29%, 16%);
    font-family: "Kumbh Sans", Arial, sans-serif;
}

.txt {
    position: absolute;
    left: 12.5rem;
    padding: 0rem;
    margin: 0rem;
    max-width: 18.75rem;
    height: auto;
    overflow: hidden;
}

.accordion {
    min-width: 18.75rem;
    padding: 0.625rem 0.625rem 0.625rem 0rem;
    margin: 0rem;
    outline: none;
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font: 400 0.75rem "Kumbh Sans", Arial, sans-serif;
    color: hsl(238, 29%, 16%);
}

.arrowD {
    content: url("images/icon-arrow-down.svg");
    float: right;
}

.arrowU {
    content: url("images/icon-arrow-up.svg");
    float: right;
}

.accordion:hover {
    color: hsl(14, 88%, 65%);
}

.hrline {
    border-bottom: 0.0313rem solid hsl(240, 5%, 91%);
    padding-bottom: 0.4375rem;
    margin: 0rem;
    outline: 0rem;
}

.collapsed {
    color: hsl(237, 12%, 33%);
    font: 700 0.75rem "Kumbh Sans", Arial, sans-serif;
}

.panel {
    overflow: hidden;
    max-height: 0rem;
    margin: 0rem;
    padding: 0rem;
    outline: 0rem;
    font: 400 0.75rem "Kumbh Sans", Arial, sans-serif;
    color: hsl(240, 6%, 50%);
    transition: max-height 0.4s ease-out;
}

.womanm {
    display: none;
}

/*For mobile devices (break point at max-width: 830px when interface not fit to desctop)*/
@media only screen and (max-width: 51.875rem) {
    .womand, .pattern, .box {
        display: none;
    }

    #cont {
        position: fixed;
        left: 3.4375rem;
        min-width: 18.75rem;
        height: 28.125rem;
    }

    .womanm {
        position: fixed;
        display: block;
        margin: auto;
        top: 18.125rem;
        left: 5.3125rem;
        max-width: 18.125rem;
        
    }

    .txt {
        position: fixed;
        left: 5rem;
        bottom: 17.5rem;
        max-width: 16.875rem;
    }

    .accordion {
        min-width: 16.875rem;
    }

    h1 {
        text-align: center;
    }
}
