@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope&family=Open+Sans&display=swap');
@import url(reset.css);
@import url(FM_part.css);

:root {
    /* colors */
    --clr-primary-bgr: hsl(240, 73%, 65%);
    --clr-secondary-bgr: hsl(273, 75%, 66%);
    --clr-text-darkBlue1: hsl(238, 29%, 16%);
    --clr-text-softRed: hsl(14, 88%, 65%);
    --clr-text-darkBlue2: hsl(237, 12%, 33%);
    --clr-text-darkBlue3: hsl(240, 6%, 50%);
    --clr-dividers-lightBlue: hsl(240, 5%, 91%);
    --clr-neutral: hsl(0, 0%, 100%);
    --blue: 240, 73%, 65%;
    --violet: 273, 75%, 66%;
    --white: 240, 5%, 91%;

    /* fonts */
    --ff-primary: 'Kumbh Sans', sans-serif;

    --fw-400: 400;
    --fw-700: 700;
}

html {
    height: 100%;
}

body {
    font-size: 12px;
    font-family: var(--ff-primary);
    min-height: 100%;
    background-color: var(--clr-primary-bgr);
    background-image: linear-gradient(0deg, hsl(var(--blue)), hsl(var(--violet)));
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    line-height: 1.5;
}

/*--------------Mobile layout----------------*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      /*"images"*/
       "accordions";
    gap: 0;
    min-width: 9.375rem;
    /*margin: 0 auto;*/
    /*padding-top: 25px;*/
}

.accordions {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
       'womanm'
       'heading1'
       'hl1'
       'hl2'
       'hl3'
       'hl4'
       'hl5';
    grid-gap: 0;
    border-radius: 1.25rem;
    max-width: 340px;
    height: auto;
    overflow: hidden;
    background-color: var(--clr-neutral);
    padding: 15px;
}

.womanm {
    
}

.heading1 {
    color: var(--clr-text-darkBlue1);
    font-weight: var(--fw-700);  
    text-align: center;
    font-size: 22px;
    padding-bottom: 15px;
}

.hl1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
       'a-1'
       'p-1'
       'arrowD';
}

.hl2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
       'a-2'
       'p-2'
       'arrowD';
}

.hl3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
       'a-3'
       'p-3'
       'arrowD';
}

.hl4 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
       'a-4'
       'p-4'
       'arrowD';
}

.hl5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
       'a-5'
       'p-5'
       'arrowD';
}

[class*="hl"] {
    border-bottom: 0.0313rem solid hsl(var(--white));
    padding-bottom: 0.4375rem;
}

[class*="a-"] {
    min-width: 18.75rem;
    padding: 0.625rem 0.625rem 0.625rem 0rem;
    text-align: left;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-weight: var(--fw-400);
    color: var(--clr-text-darkBlue1);
}

[class*="a-"]:hover {
    color: var(--clr-text-softRed);
}

[class*="p-"] {
    overflow: hidden;
    max-height: 0rem;
    font-weight: var(--fw-400);
    color: var(--clr-text-darkBlue3);
    transition: max-height 0.4s ease-out;
}

/*
.images, .accordions {
    background-color: aqua;
    border: 2px solid grey;
    padding: 60px;
}

.images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
       "pattern"
       "womand"
       "box";
    gap: 0;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    position: relative;
    margin-top: 80px;
}

.pattern {
    position: absolute;
    max-width: 60%;
    top: -30px;
    left: 80px;
}

.womand {
    position: absolute;
    max-width: 60%;
    top: -20px;
    left: 80px;
}

.box {
    position: relative;

}
*/


/*--style 1st component -mobile--*/
/*
.images {
    position: relative;
    top: 0px;
    padding: 60px;
    border: 2px solid green;
    width: 100%;
    background-color: var(--clr-dividers-lightBlue);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.pattern {
    position: absolute;
    top: -120px;
    left: 50px;
    max-width: 70%;
}

.womand {
    position: absolute;
    top: -100px;
    left: 50px;
    max-width: 70%;
}

.box {
    position: absolute;
    max-width: 80%;
}
*/

/*
.accordions {
    border: 2px solid blue;
    max-width: 300px;
    height: auto;
    overflow: hidden;
}


.womanm, .accordions {
    display: none;
}

/*--style 2nd component mobile--*/
/*
.container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 363px;
    height: 20.625rem;
    padding: 1.25rem;  
    margin: 0rem;  
}

#cont {
    position: relative;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    overflow: hidden;
    background-color: white;
    margin: 0rem;
    padding: 0rem;
    min-width: 43.75rem;
    height: 21.875rem;
    display: flex;
    box-shadow: 0rem 1.25rem 2.5rem 0rem hsl(251, 35%, 43%); 
}

.pattern {
    position: absolute;
    left: -20.9375rem;
    top: -11.875rem;
    max-width: 39.375rem;
    height: auto;
}

.womand {
    position: absolute;
    left: -3.75rem;
    top: 1.5625rem;
    max-width: 21.875rem;
    height: auto;
}

.box {
    position: absolute;
    top: 9.125rem;
    left: -16.25rem;
    max-width: 8.75rem;
    height: auto;
    z-index: 1;
}

h1 {
    color: hsl(238, 29%, 16%);
    font-family: var(--ff-primary);
}

.txt {
    position: absolute;
    left: 12.5rem;
    padding: 0rem;
    margin: 0rem;
    max-width: 18.75rem;
    height: auto;
    overflow: hidden;
}

.accordion {
    min-width: 18.75rem;
    padding: 0.625rem 0.625rem 0.625rem 0rem;
    margin: 0rem;
    outline: none;
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    font: 400 0.75rem 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
}

.arrowD {
    content: url("images/icon-arrow-down.svg");
    float: right;
}

.arrowU {
    content: url("images/icon-arrow-up.svg");
    float: right;
}

.accordion:hover {
    color: hsl(14, 88%, 65%);
}

.hrline {
    border-bottom: 0.0313rem solid hsl(240, 5%, 91%);
    padding-bottom: 0.4375rem;
    margin: 0rem;
    outline: 0rem;
}

.collapsed {
    color: hsl(237, 12%, 33%);
    font: 700 0.75rem 'Kumbh Sans', sans-serif;
}

.panel {
    overflow: hidden;
    max-height: 0rem;
    margin: 0rem;
    padding: 0rem;
    outline: 0rem;
    font: 400 0.75rem 'Kumbh Sans', sans-serif;
    color: hsl(240, 6%, 50%);
    transition: max-height 0.4s ease-out;
}

.womanm {
    display: none;
}
*/
/*For mobile devices (break point at max-width: 830px when interface not fit to desctop)*/
/*
@media only screen and (max-width: 51.875rem) {
   
}
*/

/*----------grid area names------------------*/

/*---style 1st component - mobile---*/

/*
.images {
    grid-area: images;
}*/

.accordions {
    grid-area: accordions;
}

.womanm {
    grid-area: womanm;
}

.heading1 {
    grid-area: heading1;
}

.hl1 {
    grid-area: hl1;   
}

.hl2 {
    grid-area: hl2;
}

.hl3 {
    grid-area: hl3;
}

.hl4 {
    grid-area: hl4;
}

.hl5 {
    grid-area: hl5;
}

.a1 {
    grid-area: a-1;
}

.p1 {
    grid-area: p-1;
}

.arrowD {
    grid-area: arrowD;
}

.a2 {
    grid-area: a-2;
}

.p2 {
    grid-area: p-2;
}

.a3 {
    grid-area: a-3;
}

.p3 {
    grid-area: p-3;
}

.a4 {
    grid-area: a-4;
}

.p4 {
    grid-area: p-4;
}

.a5 {
    grid-area: a-5;
}

.p5 {
    grid-area: p-5;
}

 /*
.pattern {
    grid-area: pattern;
}

.womand {
    grid-area: womand;
}

.box {
    grid-area: box;
}
*/